.planetinfo {
    display: block;
    width: 20%;
    border: 3px solid yellow;
    border-radius: 5px;
    max-height: 90%;
}

.planetinfo h2 {
    font-size: 35pt;
}

.planetinfo h4 {
    font-size: 18pt;
}

.planetinfo p {
    font-size: 16pt;
}

#collapseButton {
    width: 100px;
    font-size: 14pt;
}